<!-- author is 13716 -->
{% extends "index_base.html" %}
{% load staticfiles %}

{% block title %}
    组织架构
{% endblock %}

{% block outside_link_css %}

{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 50px;">
        {% if news %}
            <h1>{{ news.title }}</h1>
            {% autoescape off %}
                {{ news.content }}
            {% endautoescape %}
        {% else %}
            <div class="row">
                <h1 style="text-align: center">抱歉！当前信息未上传！请稍后再试！！！</h1>
            </div>

        {% endif %}
    </div>

{% endblock %}

{% block js_link %}
    <script>
        $(function () {
            $(".nav .active").removeClass("active");
            $(".went_to").addClass("active");
        })
    </script>
{% endblock %}